
@{
    ViewBag.Title = "AddNewCategory";
    Layout = "~/Views/Shared/_NavigationBarLayout.cshtml";
}

<form class="form-group" method="post" autocomplete="off"}>
    <div class="container">
        <label>KATEGORİ ADI</label>  <br />
        <input type="text" class="form-control col-md-6" name="CategoryName" style="width:500px;" required="required" />
    </div>
    <div style="margin:15px">
        <button class="btn btn-info">KATEGORİ EKLE</button>
    </div>
</form>
